{% extends 'master/master.html' %}

 {% block 'sidebar' %}
  {% include 'component/sidebar.html' %}
 {% endblock %}

 {% block 'navbar' %}
  {% include 'component/nav.html' %}
 {% endblock %}

 {% block 'footer' %}
{% include 'component/footer.html' %}
 {% endblock %}

{% block 'body' %}
{% include 'component/message.html' %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" class="btn btn-success" value="Confirm">
</form>
{% endblock %}

